*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
}

button {
    margin: 30px;
    padding: 10px 20px;
}

.meter{
    margin: 10px 20px;
}
.meter button{
    padding: 50px 60px;
    font-size: 80px;
    border: 1px solid wheat;
    border-radius: 10px;
}