@import "tailwindcss";

h1{
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    white-space: nowrap;
    text-shadow: 2px 4px 2px #0d9139;
    font-weight: 500;
    text-transform: capitalize;
}